.deps
.libs
*.cache
*.gir
*.la
*.lo
*.make
*.m4
*.o
*.pc
*.typelib
Makefile
Makefile.in
config.*
configure
compile
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
examples/test-kinect
tests/test-skeleton
